
body {
    margin: 0;
    padding: 0;
}
.Mynav  {
    position: fixed;
    width: 100%;
    /* background-color:  rgba(0,0,0,0.5); */
    height: 60px;
    line-height: 50px;
}
.Mynav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mfpf {
    margin: 0;
    padding: 0;
}

.Mynav ul li {
    display: inline;
    padding: 0;
}
.Mynav ul li a {
    text-decoration: none;
    color: rgb(37, 126, 148);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px 20px;
}

#myimg {
    width: 60%;
    width: 100%;
    align-content: center;
    margin: 40px;
}

p {
    float: none;
    color: rgb(44, 32, 150);
    text-align: center;
    font-size: large;
    font-family: fantasy;
    margin: 0px;
    padding: 0px;
}
#bio p{
    color: rgb(6, 17, 121);
    text-align: left;
    font-weight: lighter;
    font-size: smaller;
    font-family: Verdana, Tahoma, sans-serif;
}
#bio span{
    color: rgb(12, 99, 212);
    font-weight: bold;
    font-family:  Georgia, Times, 'Times New Roman', serif
}
ol {
    list-style: none;
}
#contact {
    margin: 20px;
    padding: 16px;
}
#contact > input, label, button {
    display: block;
}
input{
    width: 100%;
    padding: 12px;
    background-color: rgb(21, 7, 105);
    margin: 5px 0 20px 0;
    border: none;
    border-radius: 5px;
}
.btn {
    width: 50%;
    margin: auto;
    background-color: rgb(18, 11, 109);
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    color: rgb(28, 191, 202);
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(11, 124, 158);
    color: rgb(189, 117, 165);
}
.footercontainer {
    background-color: black;
    height: 100px;
}